[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
psycopg2 = "*"
sqlalchemy = "*"
passlib = {extras = ["bcrypt"], version = "*"}

[dev-packages]

[requires]
python_version = "3.8"
